*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightsalmon;
}
header{
    text-transform: uppercase;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;
    background-color: black;
    color: white;
    border-bottom: 4px solid blue;
    margin-top: 0;
    border-radius: 15px;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1400px;
    gap: 16px;
    margin-bottom: 15px;
}
.container img{
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.container::after {
  content: "";
  width: 100%;
}